$primary:       #0f969b;

$secondary:     #278286;

$success:       #7adfe2;

$info:          #2b787a;

$warning:       #ee5316;

$danger: #fa1111;

// Import all of Bootstrap's CSS
@import "bootstrap/scss/bootstrap";